block vars
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Phenome.js - Ultimate cross-framework component compiler
    link(rel="icon" href="/i/favicon.png")
    include ../templates/_styles
  body
    include ../templates/_header
    .home-intro
      .container
        .logo
          .dna
        h1 Phenome.js
        h2 Ultimate cross-framework component compiler
        .buttons
          a(href="/docs/getting-started.html").button Get Started
        .version
          | MIT Licensed, <b>v#{meta.release.version}</b> released on #{meta.release.date}
        .gh-buttons
          a(href="https://github.com/phenomejs/phenome" target="_blank").gh-logo
          a(href="https://github.com/phenomejs/phenome" target="_blank").gh-stars
            span
            |  stars
          a(href="https://github.com/phenomejs/phenome" target="_blank").gh-forks
            span
            |  forks
    main
      .container
        .home-block
          h2 What is Phenome
          .text
            p Phenome is the ultimate cross-framework component compiler. It provides unified/universal component declaration syntax which can be compiled to "native" <b>Vue</b>, <b>React</b> and <b>Web Component</b> <sup>(coming soon)</sup> component utilizing all "native" frameworks features and virtual dom implementations.
          .buttons
            a(href="/docs/getting-started.html").button Get Started
    include ../templates/_footer
    include ../templates/_scripts
