@codeMain: #fff;
@codeBg: #253238;
@codeComment: #536E7B;
@codeMeta: #aaa;
@codeOrange: #F98C68;
@codeRed: #F27076;
@codeYellow: #FFCC63;
@codeGreen: #C2E988;
@codeLightBlue: #86DDFF;
@codeBlue: #80A8FF;
@codePurple: #C88FEC;
@codePink: #FF506E;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

pre, code {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;

}
pre {
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 1em 0;
}
pre code {
  display: block;
  padding: 20px;
  border-radius: 6px;
  background: @codeBg;
  color: @codeMain;
  overflow-x: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hljs-punctuation {
  color: @codeLightBlue;
}
.hljs-operator {
  color: @codePurple;
}
.hljs-subst {
  color: @codeMain;
}
.hljs-meta {
  color: @codeMeta;
}
.hljs-comment {
  color: @codeComment;
  font-style: italic;
}
.hljs-keyword {
  color: @codeLightBlue;
}
.hljs-string {
  color: @codeGreen;
}
.hljs-number {
  color: @codeOrange;
}
.hljs-variable {
  color: @codeBlue;
}
.hljs-tag {
  color: @codeLightBlue;
  .hljs-name {
    color: @codeRed;
  }
  .hljs-attr {
    color: @codeYellow;
    font-style: italic;
  }
  .hljs-string {
    color: @codeGreen;
  }
}
// JS
.hljs-context {
  color: @codePink;
  font-style: italic;
}
.hljs-expression {
  color: #fff;
}
.hljs-built_in {
  color: @codeYellow;
}
.hljs-keyword {
  color: @codePurple;
}
.hljs-keyword_semantic {
  color: @codeLightBlue;
}
.hljs-string {
  color: @codeGreen;
}
.hljs-literal, .hljs-params {
  color: @codeOrange;
}
.hljs-function {
  color: @codeBlue;
  .hljs-keyword {
    color: @codePurple;
    font-weight: bold;
    font-style: normal;
  }
}
.hljs-method {
  color: @codeBlue;
}
.hljs-selector-class {
  color: @codeYellow;
}
.hljs-attribute {
  color: @codeLightBlue;
}
.hljs-selector-tag {
  color: @codeRed;
}
.hljs-selector-attr {
  color: @codeYellow;
}
.hljs-selector-pseudo {
  color: @codePurple;
}
