- var isActiveDoc = function (id) {return docId === id ? 'active' : ''}

each section in sidebar
  .doc-sidebar-section
    .title #{section.title}
    ul
      each doc in section.docs
        li(class=isActiveDoc(doc.id))
          a(href=doc.url) #{doc.title}
