footer
  .container
    .links
      .links-block
        .links-block-title Docs
        ul
          li
            a(href="/docs/getting-started.html") Getting Started
          li
            a(href="/docs/installation.html") Installation
          li
            a(href="/docs/api.html") API
          li
            a(href="/docs/component-declaration.html") Phenome Component
          li
            a(href="/docs/rendering-jsx.html") Rendering / JSX

    .copyright
      p Code licensed under #[a(href="https://github.com/phenomejs/phenome/blob/master/LICENSE" target="_blank") MIT]
      p &copy; #{meta.year} Phenome is brought to you by #[a(href="https://github.com/nolimits4web" target="_blank") Vladimir Kharlampidi] & #[a(href="https://github.com/bencompton" target="_blank") Ben Compton]

